{% extends 'base.html' %}
{% load static %}

{% block title %}
    blog title
{% endblock %}
{% block header_references %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}
{% block content %}

    <header>
        <h1>Simple Blog</h1>
    </header>
    <div class="blog-post">
        <h2>Post Title 1</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam.</p>
        <p><a href="#">Read More</a></p>
    </div>
    <div class="blog-post">
        <h2>Post Title 2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam.</p>
        <p><a href="#">Read More</a></p>
    </div>
    <div class="blog-post">
        <h2>Post Title 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante
            dapibus diam.</p>
        <p><a href="#">Read More</a></p>
    </div>


{% endblock %}

